.primary {
  color: white;
  background-color: rgb(8, 77, 134);
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  display: flex;
}

.v-middle {
  color: rgb(227,94,107);
  vertical-align: middle;
}
.red {
    color: rgb(227,94,107)
}